/*--------------------------------------------------------------
Box styles
--------------------------------------------------------------*/

.box {
    padding: 0.25em;
    color: black;
    text-align: center;
    /*border: 1px solid red;*/
}
