/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
  background: goldenrod;
  /*background: #E0E0E0;  */
  /*background: thistle;  */
  /*background: lightsteelblue;*/
  /*background: lightslategray;  // #778899*/
  /*background: #BBCCDD;*/
}

.main-area, .main-area-pw {
  margin: 1em 2em 1em 2em;
  padding: 0em 1em 1em 1em;
  border-left: 1px solid chocolate;
  border-right: 1px solid chocolate;
  border-bottom: 1px solid chocolate;
}
