/**
 * The primary stylesheet for the CSS Grid Playground.
 * This sheet pulls in surrounding components allowing you to focus on specifics.
 */

/* Components */
@import url('reset.css');
@import url('accessibility.css');
@import url('layout.css');
@import url('typography.css');
@import url('masthead.css');
@import url('boxes.css');

.the-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "title"
    "name"
    "logo"
    "name-skills"
    "skills-list-left"
    "skills-list-right"
    "contact";
}

.navbar-brand {
  font-size: 24px;
}

.navbar-default {
  background-color: inherit;
}

.navbar-nav>.active {
  background-color: #444;
}

.title {
  grid-area: title;
  font-size: 24px;
  line-height: 1.1;
}

.name {
  grid-area: name;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 0px;
}

.name-skills {
  grid-area: name-skills;
  font-size: 18px;
  display: none;
}

.skills-list > .header {
  text-decoration: underline;
}

.skills-list-left {
  grid-area: skills-list-left;
}

.skills-list-right {
  grid-area: skills-list-right;
}

body {
  /* for skills-list */
  font-size: 16px;
}

img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  grid-area: logo;
}

.contact {
  grid-area: contact;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .main-area {
    margin: 2em;
  }

  .the-grid {
    display: grid;
    /*width: 1000px;
    border: 1px solid #ededed;
    margin: 0 auto;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "title title"
      "skills-list-left skills-list-right"
      "name name"
      "name-skills name-skills"
      "logo logo"
      "contact contact";
  }

  .title {
    font-size: 36px;
    line-height: 1.25;
  }

  .name {
    font-size: 24px;
    /*padding-bottom: 0px;*/
  }

  .name-skills {
    display: block;
  }

  body {
  /* for skills-list */
    font-size: 18px;
  }

  img {
    width: 200px;
  }
}

@media only screen and (min-width: 911px) {
  /* tablets and desktop */
  .main-area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
