/**
 * The primary stylesheet for the CSS Grid Playground.
 * This sheet pulls in surrounding components allowing you to focus on specifics.
 */

/* Components */
@import url('reset.css');
@import url('accessibility.css');
@import url('layout.css');
@import url('typography.css');
@import url('masthead.css');
@import url('boxes.css');
@import url('past_work.css');

body {
  /* for skills-list */
  font-size: 16px;
}

.the-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "title"
    "logo"
    "skills-list-left"
    "skills-list-right";
}
    /*"name-skills"*/

.navbar-default {
  background-color: inherit;
  border-color: transparent;
  border-bottom: 1px solid chocolate;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
  color: black;
  /*background-color: wheat;*/
  background-color: chocolate;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: chocolate;
  border-color: maroon;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: maroon;
}

.navbar-default .navbar-collapse {
  border-color: maroon;
}

h1 {
  margin: 0px;
}

h1, .title {
  grid-area: title;
  font-size: 24px;
  line-height: 1.1;
}

h2 {
  /* for skills-list */
  font-size: 18px;
  margin-top: 0px;
  overflow: hidden;
}

h3 {
  /* for skills-list */
  font-size: 12px;
}

.wrapper_heading_lined {
  width: 75%;
  height: 15px;
  border-bottom: 1px solid maroon;
  margin: 1em auto;
}

.heading_lined {
  font-size: 14px;
  background-color: goldenrod;
  padding: 0 5px;
}

.name-skills {
  grid-area: name-skills;
  font-size: 18px;
  display: none;
}

.skills-list > .header {
  text-decoration: underline;
}

.skills-list-left {
  grid-area: skills-list-left;
}

.skills-list-right {
  grid-area: skills-list-right;
}

img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  grid-area: logo;
  margin-top: 0px;
}

.contact {
  grid-area: contact;
  text-align: left;
}

.footer-area {
  margin-bottom: 10px;
}

.soc {
  /* display: flex; */
  list-style: none;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0px;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.soc a, .soc svg {
  display: block; 
}
.soc a {
  position: relative;
  height: 32px;
  width: 32px;
}
.soc svg {
  height: 100%;
  width: 100%; 
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0; 
}

.github:hover, .mylinkedin:hover {
  fill: black;
  transition: fill 0.5s, transform 0.5s ease-out; 
}

.github, .mylinkedin {
  fill: maroon; 
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h3 {
    font-size: 16px;
  }

  .wrapper_heading_lined {
    width: 68%;
    height: 15px;
  }

  .heading_lined {
    font-size: 18px;
    /*padding: 0 10px;*/
  }

  #app_image {
    width: 200px;
  }

}

@media only screen and (min-width: 768px) {
  .main-area, .main-area-pw {
    margin: 2em, 2em, 1em, 2em;
  }

  .the-grid {
    display: grid;
    /*width: 1000px;
    border: 1px solid #ededed;
    margin: 0 auto;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "title title"
      "skills-list-left skills-list-right"
      "name name"
      "name-skills name-skills"
      "logo logo";
  }

  body {
  /* for skills-list */
    font-size: 18px;
  }

  /*.heading_lined {
    font-size: 24px;
    padding: 0 10px;
  }*/

  h1, .title {
    font-size: 36px;
    line-height: 1.25;
  }

  h2 {
    /* for skills-list */
    font-size: 24px;
    /*margin-top: 0px;*/
  }

  h3 {
    /* for skills-list */
    font-size: 18px;
  }

  .wrapper_heading_lined {
    width: 60%;
    height: 20px;
  }

  .heading_lined {
    font-size: 24px;
    padding: 0 10px;
  }

  .name-skills {
    /*display: block;*/
    display: none;
  }

  img {
    width: 200px;
  }

  #app_image {
    width: 300px;
  }

  .logo {
    margin-top: 25px;
  }

}

@media only screen and (min-width: 911px) {
  /* tablets and desktop */
  .main-area, .main-area-pw {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .soc {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1525px) {

  .wrapper_pw {
    margin: 0 50px;
  }

  .main-area-pw {
    max-width: 1450px;
  }

  .past_work_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "past-work-left past-work-right";
  }
}
