/**
 * The primary stylesheet for the CSS Grid Playground.
 * This sheet pulls in surrounding components allowing you to focus on specifics.
 */

/* Components */
@import url('CSS/reset.css');
@import url('CSS/accessibility.css');
@import url('CSS/layout.css');
@import url('CSS/typography.css');
@import url('CSS/masthead.css');
@import url('CSS/boxes.css');

/* CSS Grid Playground */

.the-grid {
  display: grid;
  /*width: 1000px;
  border: 1px solid #ededed;
  margin: 0 auto;*/
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: 1fr 25% 1fr 1fr 1fr;*/
  /*grid-template-columns: [left-sidebar-start] 1fr 1fr [left-sidebar-end main-area-start] repeat(8, [row] 1fr)
                         [main-area-end right-sidebar-start] 1fr 1fr [left-sidebar-end];
  grid-template-rows:    [header-start] 1fr [header-end main-start] 5fr
                         [main-end footer-start] 1fr [footer-end];*/
  /*grid-template-rows: 250px 40px 200px;*/
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "header header header header"
    "sidebar-left content content sidebar-right"
    "footer footer footer footer";
}

.blue {
  /* header */
  grid-area: header;
  /*grid-column: left-sidebar-start / right-sidebar-end;
  grid-row: header-start / header-end;*/
}

.yellow {
  /* left side bar */
  grid-area: sidebar-left;
  /*grid-column: left-sidebar-start / left-sidebar-end;
  grid-row: main-start / main-end;*/
  /*grid-column: 2/3;
  grid-row: 1/3;*/
}

.green {
  /* right side bar */
  grid-area: sidebar-right;
  /*grid-column: right-sidebar-start / right-sidebar-end;
  grid-row: main-start / main-end;*/
}

.orange {
  /* main left */
  grid-area: content;
  /*grid-column: main-area-start / row 5;
  grid-row: main-start / main-end;*/
}

.red {
  /* main right */
  /*grid-column: row 5 / main-area-end;
  grid-row: main-start / main-end;*/
}

.purple {
  /* footer */
  grid-area: footer;
  /*grid-column: left-sidebar-start / right-sidebar-end;
  grid-row: footer-start / footer-end;*/
  /*grid-column: 3/4;
  grid-row: 2/3;*/
}

/*.linepurple {
  grid-column: 1/2;
  grid-row: 1/2;
}*/
