/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    /*background: #282C34;*/
    background: #E0E0E0;
}

.main-area {
    margin: 2em;
    padding: 1em;
    border: 1px solid #41444B;
}
