/**
 * The primary stylesheet for the CSS Grid Playground.
 * This sheet pulls in surrounding components allowing you to focus on specifics.
 */

/* Components */
@import url('reset.css');
@import url('accessibility.css');
@import url('layout.css');
@import url('typography.css');
@import url('masthead.css');
@import url('boxes.css');

.the-grid {
  display: grid;
  /*width: 1000px;
  border: 1px solid #ededed;
  margin: 0 auto;*/
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "title"
    "skills-left"
    "skills-right"
    "name"
    "skills-title"
    "logo"
    "contact";
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
  .the-grid {
    display: grid;
    /*width: 1000px;
    border: 1px solid #ededed;
    margin: 0 auto;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      "title title"
      "skills-left skills-right"
      "name name"
      "skills-title skills-title"
      "logo logo"
      "contact contact";
  }

}

.title {
  /* title */
  grid-area: title;
  font-size: 36px;
}

.skills-left {
  /* left skills list */
  grid-area: skills-left;
}

.skills-right {
  /* right skills list */
  grid-area: skills-right;
}

.name {
  /* my name */
  grid-area: name;
  font-size: 36px;
  padding-bottom: 0px;
}

.skills-title {
  /* skills title */
  grid-area: skills-title;
}

.logo {
  /* logo */
  grid-area: logo;
}

.contact {
  /* contact info */
  grid-area: contact;
  text-align: left;
}

.bold {
  font-weight: 700;
}

img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
